@mixin mobile() {
  /* Mobile */
  @media (max-width: 700px) {
    @content;
  }
}

@mixin desktop() {
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    @content;
  }
  /* Desktop */
  @media (min-width: 1121px) {
    @content;
  }
}

@mixin darkMode() {
  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin hover-active {
  &:hover {
    .no-touch & {
      @content;
    }
  }
  &:active {
    .touch & {
      @content;
    }
  }
}
